@model RecursoCurricular.Web.UI.Models.PartialHeader

@using RecursoCurricular.Helpers

<div class="navbar-branding">
    <span class="navbar-brand">
        @Html.ActionImage("Index", "", "/Content/images/NetCoreIconoLogged.png")
    </span>
    <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
</div>
<ul class="nav navbar-nav navbar-left">
    <li>
        <a class="sidebar-menu-toggle" href="#">
            @*<span class="ad ad-ruby fs18"></span>*@
        </a>
    </li>
    <li>
        <a class="topbar-menu-toggle" href="#">
            @*<span class="ad ad-wand fs16"></span>*@
        </a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
         @Html.ActionLink(string.Format("Año: {0}", @Model.Anio), "Selector", "Selector", new { area = "" }, new { @class = "btn active btn-block text-white" })
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
            <img src="/Content/images/avatars/avatar_incognito.png" alt="avatar" class="mw30 br64 mr15"> @Model.UserName
            <span class="caret caret-tp hidden-xs"></span>
        </a>
        <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
            <li class="list-group-item">
                <a href="/Administracion/User/MisDatos" class="animated animated-short fadeInUp">
                    <span class="fa fa-user"></span> Mis datos
                </a>
            </li>
            <li class="list-group-item">
                <a href="/Administracion/User/ChangePassword" class="animated animated-short fadeInUp">
                    <span class="fa fa-key"></span> Cambiar Contraseña
                </a>
            </li>
            <li class="dropdown-footer">
                <a href="/Administracion/User/LogOut" class="">
                    <span class="fa fa-power-off pr5"></span> Cerrar Sesión
                </a>
            </li>
        </ul>
    </li>
</ul>